@charset "utf-8";
/*
   Author: Luke Franklin

   Filename: hobbyStyles.css
*/

a{
    color:chocolate;
}

ol > li > a{
    text-decoration:underline;
    color:gray;
    font-style:italic;
}

@media (max-width: 999px){

    a{
        color: black;
    }
    ol > li > a{
        color: black;
    }

    iframe{
        display: none;
    }

}




aside#topImage > iframe {
    border-radius: 10%;
}

ul.List2 > li{
    list-style-type: square;
}

ul.List2 > ol:first-of-type > li{
    list-style-image: url(../listImages/pocketMonsters\(fix\).jpg);
}


ul.List2 > ol:last-of-type > li{
    list-style-image: url(../listImages/mapIcon\(fix\).jpeg);
}

