@charset "utf-8";
/*
   Author: Luke Franklin

   Filename: publicPages.css
*/
@import url(publicPages.css);


a.puzzle{
    text-decoration: none;
    color:black;
}


/* Left Side */

div#leftSide {
    margin: 0px;
    display: flex;
    float: left;
    justify-content: flex-start;
    align-items: flex-start;

    flex-wrap: wrap;
    text-align: center;

}

img.leftImage {
    width: 100%;
    ;
    max-height: 50vh;
    height: 50vh;
}





footer.leftFooter {
    text-wrap: wrap;
    font-size: 3vh;
    margin: 0px;
    height: 5%;
    width: 100vw;
}











/* Right Side */

div#rightText {
    margin: 0px;

    display: flex;
    float: right;
    flex-wrap: wrap;
    text-align: center;



}

header.titleRight1 {
    margin: 0px;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    font-size: 3.6vh;
}

img.topRightImage {
    margin: 2vh;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 25vh;
    max-height: 25vh;
    height: 25vh;
    width: 25vh;
}



header.titleRight2 {
    margin: 0px;
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
    font-size: 2.8vh;
}




img.bottomRightImage {
    margin-top: 0;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 45vh;
    max-height: 20vh;
    height: 20vh;
    width: 45vh;
}

@media (min-width: 1600px) {
    div#leftSide {
        width: 27vw;
        float: left;
    }


    p.descLeft {
        text-wrap: wrap;
        height: 5%;
        width: 100%;
        font-size: 1.7vh;
    }


    div#leftSide hr {
        display: none;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
    }

    div#rightText {
        float: right;
        width: 45%;
        height: 90%;

        border-width: 0px;
        border-left: 4px;
        border-style: solid;
        border-color: black;
    }

    div#rightText hr {
        width: 75%;
        height: 1%;
        color: black;
        outline-width: 2px;
        outline-style: solid;
        outline-color: black;
        border-width: 0px;

    }
    p.descRight1{
        font-size: 1.5vh;
    }
    p.descRight2 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 1.5vh;
    }


}












@media (min-width: 1000px) AND (max-width: 1599px) {
    div#leftSide {
        width: 100%;
        border: 0px;
        border-bottom: 2px;
        border-style: solid;
        border-color: black;
    }

    p {
        font-size: 0;
        font-size: 3vh;
        color: rgb(99, 98, 98);
        margin-bottom: 0;
    }

    img.leftImage {
        margin: 0;
        margin-left: 20%;
        margin-right: 20%;

    }
    div#leftSide hr {
        display: none;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
    }




    div#righText {
        width: 100%;
        height: 100%;
        border: 0px;

    }



    div#rightText hr {
        width: 0;
        height: 0;
        border: 0;

    }

    p.descRight1 {
        border: 0;
        border-bottom: 2px;
        border-style: solid;
        border-color: black;
        margin: 0;
        margin-left: 3vw;
        margin-right: 3vw;
    }


    img.topRightImage {
        max-width: 50vw;
        max-height: 50vh;
        width: 100%;
        margin: 0;
        margin-left: 35%;
        margin-right: 35%;
    }


    header.titleRight2 {
        width: 50%;
        height: 50%;
    }

    p.descRight2 {
        margin: 0;
        margin-right: .5vw;
        margin-top: .5vw;
        width: 49%;
        height: 25vh;
        text-wrap: wrap;
        font-size: 1.3vw;
    }

    img.bottomRightImage {
        margin: 0;
        margin-left: 15vh;
        position: absolute;
        top: 155vh;
        right: 50vw;
        width: 45%;
        height: 60vh;

    }
}










@media (max-width: 999px) {
    br {
        display: none;
    }


    p {
        color: rgb(99, 98, 98);
    }

    div#leftSide {
        width: 100vw;
    }

    div#leftSide hr {
        text-align: center;
        height: 100%;
        border: 2vh;
        border-color: rgb(77, 77, 77);
        border-style: solid;
    }

    div#righText {
        width: 100vw;
    }



}