@charset "utf-8";
/*
   Author: Luke Franklin

   Filename: educationPhoneFix.css
*/

@media (max-width:500px){
    body{
        height:125vh;
    }

    section#bottomRowText{
        display:block;
        margin:0;
        margin-top: 65%;
        width:100vw;
        text-align: left;
        height:50%
    }
}